<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de clientes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmClient" class="mt-2 row g-3">
            <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
         <!-- Linha -->
         <hr class="mt-4 border border-transparent border -1">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar </button>
            </div>
        </div>
           

            <!-- Nome -->
            <div class="col-md-8">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" required maxlength="30">
            </div>

            <!-- CPF -->
            <div class="col-md-4">
                <label for="inputCPFClient" class="form-label">CPF/CNPJ</label>
                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="15">
            </div>

            <!-- Email -->
            <div class="col-md-6">
                <label for="inputEmailClient" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmailClient" spellcheck="false" maxlength="30">
            </div>

            <!-- Telefone -->
            <div class="col-md-4">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15"
                    required>
            </div>

          

            <!-- Endereço -->
            <div class="col-md-6">
                <label for="inputEndereçoClient" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputEndereçoClient" spellcheck="false" maxlength="30"
                    required>
            </div>



            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
              
            </div>

        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>