<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título que será exibido na janela -->
    <title>Queiroz TI</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container button">
        <img src="../public/img/clientee.png" alt="clientes" title="Cadastro de clientes" onclick="cliente()">
        <img src="../public/img/carrinhoooo.jpg" alt="Ordem de Serviço" title="Emissão de OS" onclick="os()">
        <img src="../public/img/Icone-Funilaria-e-Pintura.png" alt="Processo Funilaria" title="Funilaria " onclick="funilaria()">
        <img src="../public/img/pintura.png" alt="pintura do carro" title="Processo de Pintura" onclick="pintura()">


    </div>
    <footer>
        <p id="dataAtual"></p>
    </footer>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script src="../public/js/script.js"></script>
    <!--redenrizador-->
    <script src="renderer.js"></script>
</body>

</html>