<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo que sera exibido na janela sobre--> 
    <title>Funilaria e Pintura Automotiva</title>
    <!--bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--css personalizado-->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados-->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-nline'">
</head>
<body>
    <div class="container button">
        <img src="../public/img/clientee.png" alt="Clientes" title="Cadastro Cliente">
        <img src="../public/img/carrinhoooo.jpg" alt="Modelo do Carro" titlle="Modelo do Carro">
        <img src="../public/img/Icone-Funilaria-e-Pintura.png" alt="Processo de Pintura" title="Pintura">
        <img src="../public/img/pintura.png" alt="Processo de Funilaria" title="Funilaria">

        
    </div>

    <footer>
        <p id="dataAtual"></p>
    </footer>
    <!--bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>


</body>
</html>